---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import { containsServerDirective } from 'astro/runtime/server/render/server-islands.js';
import Concert from '../components/Concert.astro';

const concerts = await getCollection('concerts');
---

<Layout>
  <h1 class="text-3xl font-bold text-center text-gray-800 mb-3">Concerts</h1>
  <div>
    <table
      class="table-auto border border-gray-200 rounded-lg shadow-sm bg-white">
      <thead>
        <tr class="bg-gray-50">
          <th class="py-2 px-4 font-bold text-gray-700 border-b text-center"
            >#</th
          >
          <th class="py-2 px-4 text-left font-bold text-gray-700 border-b"
            >Date</th
          >
          <th class="py-2 px-4 text-left font-bold text-gray-700 border-b"
            >Venue</th
          >
          <th class="py-2 px-4 text-left font-bold text-gray-700 border-b"
            >Setlist</th
          >
        </tr>
      </thead>
      <tbody>
        {
          concerts.map((concert, index) => (
            <Concert concert={concert} index={index} />
          ))
        }
      </tbody>
    </table>
  </div>
</Layout>
