---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import Concert from '../components/Concert.astro';

const concerts = await getCollection('concerts');
---

<Layout>
  <div>
    <table class="table-auto border border-gray-200 bg-white">
      <thead>
        <tr class="bg-gray-50">
          <th class="py-2 px-3 font-bold border-gray-200 text-gray-700 text-center"
            >#</th
          >
          <th class="py-2 px-3 text-left font-bold border-gray-200 text-gray-700"
            >Date</th
          >
          <th class="py-2 px-3 text-left font-bold border-gray-200 text-gray-700"
            >Venue</th
          >
          <th class="py-2 px-3 text-left font-bold border-gray-200 text-gray-700"
            >Setlist</th
          >
        </tr>
      </thead>
      <tbody>
        {
          concerts.map((concert, index) => (
            <Concert concert={concert} index={index} />
          ))
        }
      </tbody>
    </table>
  </div>
</Layout>
