.date {
    font-weight: bold
}

.location {
    font-style: italic
}

.concertList {
    border-spacing: 0;
}

.concertList tbody td {
    padding: 8px;
    margin: 8px;
}

.concertList tr:hover {
    background-color: #FFD07B;
}