@keyframes highlight {
    from {background-color: #ffffff}
    to {background-color: #ffd07b}
}

.date {
    font-weight: bold
}

.location {
    font-style: italic
}

table {
    border-spacing: 0;
}

th {
    color: #ffffff;
    background-color: #aaaaaa;
}

.concerts td {
    padding: 8px;
    margin: 8px;
}

.concerts tr:hover {
    animation-name: highlight;
    animation-duration: 1s;
}