---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
  <h1 class="text-3xl font-bold text-center text-gray-800 my-4 tracking-tight">
    {SITE_TITLE}
  </h1>
</header>
