---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
  <h1 class="my-4 text-center text-3xl font-bold tracking-tight text-gray-800">
    {SITE_TITLE}
  </h1>
</header>
