@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

.container {
  margin: 3rem auto;
  max-width: 1000px;
}

